/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #002339;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Ocupa o espaço disponível, empurrando o footer para baixo */
    width: 100%;
    max-width: 600px;
    margin: 100px 0; /* Ajuste para eliminar margem lateral */
    padding: 20px;
    padding-left: 100px; /* Alinhamento ao lado esquerdo */
}

.display {
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    color: black;
}

.container h1 {
    font-size: 36px; /* Tamanho ajustado para melhor responsividade */
    font-weight: 500;
}

.container h1 span {
    color: #019f55;
    border-bottom: #019f55 4px solid;
    font-weight: 600;
}

.caracteres {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}

.caracteres p {
    font-size: 24px; /* Tamanho ajustado para melhor responsividade */
}

.caracteres input {
    width: 40px; /* Aumentado para facilitar o uso em dispositivos móveis */
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 10px;
    color: black;
    text-align: center;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    outline: 0;
    border: 0;
    font-size: 24px; /* Tamanho ajustado para melhor responsividade */
    width: calc(100% - 40px); /* Ajustado para evitar overflow */
}

.container button img {
    width: 30px;
    margin-right: 10px;
}

.container button {
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: #019f55;
    font-size: 22px;
    padding: 16px 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center; /* Centraliza o conteúdo do botão */
    width: 100%;
}

footer {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0;
    position: fixed; /* Fixar o footer na parte inferior da página */
    bottom: 0;
}

.footer-content {
    margin-bottom: 3px;
}

.footer-content a {
    margin: 0 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #019f55;
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

/* Media queries para responsividade */
@media (max-width: 600px) {
    .container {
        margin: 20px 0; /* Ajuste para eliminar margem lateral */
        width: 100%;
        padding-left: 10px; /* Reduzido para melhor visualização em telas pequenas */
    }

    .container h1 {
        font-size: 28px; /* Reduzido para melhor responsividade */
    }

    .display {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .display input {
        font-size: 20px; /* Reduzido para melhor responsividade */
        margin-top: 10px;
    }

    .container button {
        width: 100%;
        justify-content: center;
        padding: 14px 20px;
    }
}
